<!DOCTYPE html>
<html>
<head>
	<title>Lotus Hotel</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<div class ="main">
			<div class ="logo">
				<img src="imgs/logotest.png">
			</div>
			<ul>
				<li class ="active"><a href="#">Home</a></li>
				<li><a href="aboutus.html">About Us</a></li>
				<li><a href="book.html">Book a Room</a></li>
				<li><a href="room.html">Room Service</a></li>
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
		</div>
		<div class="title">
			<h1>LOTUS HOTEL</h1>
		</div>
		<div class="slogan">
			<h2>BE A BETTER YOU</h2>
		</div>
		<div class="button">
			<a href="book.html" class="buttons">Book a Room</a>
			<a href="room.html" class="buttons">Room Service</a>
		</div>
	</header>
</body>
</html>